div.comments
  div.comment
    p Sit occaecat excepteur sint #[a(href='#') eiusmod incididunt] dolore ipsum occaecat voluptate. Qui fugiat excepteur nulla et non ut culpa magna officia. Culpa reprehenderit do adipisicing cillum mollit aliquip esse deserunt reprehenderit duis ex fugiat.
    span.time December 14, 2019
    span.author
      a(href='#') Commenter Name
  div.comment
    p Sunt dolore cupidatat et exercitation officia ullamco magna aliquip. Veniam ullamco esse minim consequat enim. Aute consectetur dolor consequat enim ex Lorem exercitation in mollit voluptate pariatur ipsum Lorem.
    p Sunt in aute esse pariatur voluptate occaecat magna eu aliquip ullamco eu esse aliqua cillum. Velit commodo culpa enim sit qui exercitation. Aute nulla enim commodo aute eiusmod deserunt tempor.
    span.time December 14, 2019
    span.author
      a(href='#') Commenter Name
  div.comment
    p Sit occaecat excepteur sint #[a(href='#') eiusmod incididunt] dolore ipsum occaecat voluptate. Qui fugiat excepteur nulla et non ut culpa magna officia. Culpa reprehenderit do adipisicing cillum mollit aliquip esse deserunt reprehenderit duis ex fugiat.
    span.time December 14, 2019
    span.author
      a(href='#') Commenter Name
  div.comment
    p Sunt dolore cupidatat et exercitation officia ullamco magna aliquip. Veniam ullamco esse minim consequat enim. Aute consectetur dolor consequat enim ex Lorem exercitation in mollit voluptate pariatur ipsum Lorem.
    p Sunt in aute esse pariatur voluptate occaecat magna eu aliquip ullamco eu esse aliqua cillum. Velit commodo culpa enim sit qui exercitation. Aute nulla enim commodo aute eiusmod deserunt tempor.
    span.time December 14, 2019
    span.author
      a(href='#') Commenter Name