header
  img(src='#')
  nav
    ul
      li #[a(href='#') This is Link 1]
      li #[a(href='#') This is Link 2]
      li #[a(href='#') This is Link 3]
      li #[a(href='#') This is Link 4]
      li #[a(href='#') This is Link 5]
    div.mobile-menu
      a(href='#') Menu trigger does things
      ul.hidden
        li #[a(href='#') This is Link 1]
        li #[a(href='#') This is Link 2]
        li #[a(href='#') This is Link 3]
        li #[a(href='#') This is Link 4]
        li #[a(href='#') This is Link 5]