html(lang='en' dir='ltr' nighteye='active')
  head
    meta(charset='utf-8')
    title Move to the big city. | Derek Sivers
    meta(name='description' content='Derek Sivers: I hate to admit this, but it’s true.')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(rel='stylesheet' type='text/css' href='/style.css')
    link(rel='alternate' type='application/atom+xml' title='Derek Sivers' href='/en.atom')
    link(rel='alternate' type='application/rss+xml' title='Derek Sivers podcast' href='/podcast.rss')
    link(rel='prev' href='https://sivers.org/dbt')
    link(rel='next' href='https://sivers.org/netskill')
    meta(property='og:title' content='Move to the big city. | Derek Sivers')
    meta(property='og:type' content='article')
    meta(property='og:url' content='https://sivers.org/city')
    meta(property='og:image' content='https://sivers.org/images/DerekSivers-20141209a-400.jpg')
    meta(property='og:description' content='I hate to admit this, but it’s true.')
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='@sivers')
    meta(name='twitter:creator' content='@sivers')
    meta(name='twitter:title' content='Move to the big city. | Derek Sivers')
    meta(name='twitter:description' content='I hate to admit this, but it’s true.')
    meta(name='twitter:image' content='https://sivers.org/images/DerekSivers-20141209a-400.jpg')
    link(rel='stylesheet' href='chrome-extension://alncdjedloppbablonallfbkeiknmkdi/css/custom-styles.css')
    link(rel='stylesheet' href='chrome-extension://alncdjedloppbablonallfbkeiknmkdi/css/scroll.css')
  body#oneblog.vsc-initialized
    section#masthead
      h1
        a(href='/' title='Derek Sivers') Derek Sivers
    #content
      article
        header
          .blogparent
            | from the book “
            a(href='/m' rel='tag') Your Music and People
            | ”:
          h1 Move to the big city.
          small 2018-02-11
        p.
          I hate to admit this, but it’s true.
        p
          | One of the best things you can do for your career is to move to a big city — one of the major media centers — the places that broadcast to the entire world.
          strong.
            Nothing less than New York, Los Angeles, London, Mumbai, Hong Kong, or maybe San Francisco.
          | (Nashville, Paris, Seoul, or Tokyo only count if you’re limiting yourself to those markets.)
        p.
          It’s the place where everything happens. Where the biggest media companies in the world are based. Where the money is flowing. Where the most successful agents, producers, and executives live and work. Where the most ambitious people go.
        p.
          It has a serious energy, because the stakes are high. It’s not casual. It’s not a place for a comfortable work/life balance. It’s fueled by ambition. People go go go.
        p.
          I’ve lived in a bunch of places now, but when I look back at my career, it’s obvious that the biggest breakthroughs happened because I was living in the heart of the music industry in New York and Los Angeles.
        p
          strong.
            It shows that you’re in the game.
          | It shows you’re serious. It gives you healthy competition, knowing that today’s biggest stars and legends are there with you, too. It challenges you to push your skills to the best of the best, instead of just the best in your home town.
        p.
          Once you’re famous, and the media is carrying your reputation, you can move away if you want. But even then you’ll be a little out of the game. You can decide if that’s OK with you.
        p.
          I lived in New York City for nine years, and Los Angeles for seven years. I met so many wonderful kindreds — other ambitious people like me that had moved there from around the world to get successful.
        p.
          So why do I hate to admit this?
        p.
          Because I love how the internet has made it possible for anyone to get successful, anywhere. I love the idea of living in the middle of nowhere, surrounded by nature, yet being connected to the world.
        p
          | But still, when I look at the facts, it’s impossible to deny.

          strong.

            Living in the big city, and being where everything is happening, will help your career the most.

          | Being anywhere else won’t hurt you, but it won’t help.

        footer
          | © 2018
          a(href='https://sivers.org/') Derek Sivers
          | . ( «
          a(href='/dbt' accesskey='p' rel='prev') previous
          | ||
          a(href='/netskill' accesskey='n' rel='next') next
          |  » )
          h1
            | Copy & share:
            span.url
              a(href='https://sivers.org/city') sivers.org/city
      #comments
        header
          h1
            | Your thoughts?
            br
            | Please leave a reply:
          form(action='/comments' method='post')
            label(for='name_field') Your Name
            input#name_field(type='text' name='name')
            label(for='email_field')
              | Your Email  
              span.small (private for my eyes only)
            input#email_field(type='email' name='email')
            label(for='comment') Comment
            textarea#comment(name='comment' cols='80' rows='10')
            br
            input.submit(name='submit' type='submit' value='submit comment')
        h1 Comments
        #commentlist
          ol
            li#comment-65867
              cite
                | Louis Chew (2018-02-13)
                a(href='#comment-65867') #
              p
                | No doubt Derek. You've lived in Singapore for a fair bit - how does it stack up to the cities you mentioned?
                br
                span.response It’s different per industry. Singapore is in the biggest cities when it comes to banking, but not for the music industry. -- Derek
            li#comment-65869
              cite
                | Anshul (2018-02-13)
                a(href='#comment-65869') #
              p
                | Max Gunther, in his book How to Get Lucky, has explained this strategy in details. He calls it,

                br
                | "Finding the Fast Flow."

                br
                br
                | Gunther writes -

                br
                br
                | "...men and women find good luck by positioning themselves where events are flowing fastest. Go where events flow fastest. Surround yourself with a churning mass of people and things happening."

                br
                br
                | Thanks for adding your unique spin to this idea, Derek!
                br
                span.response Yes! Well-put. Thanks for that quote. -- Derek
            li#comment-65885
              cite
                | Sean Crawford (2018-02-14)
                a(href='#comment-65885') #
              p
                | Feedback:

                br
                br
                | Given that these places are also touted as places for normal balanced people and tourists, you may want to preface the "It has serious" paragraph beginning with, "For the ambitious"

                br
                br
                | The opening needed to be dwelled on, so that by paragraph nine people will still remember your opening, and not be surprised by "So why do I hate to admit this?"
            li#comment-65892
              cite
                | Nadina Mackie Jackson (2018-02-14)
                a(href='#comment-65892') #
              p Very timely for me! I’ve spent all my classical career in big cities but two years ago, I bought a repurposed church/concert hall in a small town near Toronto... and it seemed to totally put the brakes on my career... I just couldn’t figure it why since most of my concerts are usually tours, but t seems that being based in the city sends all kinds of signals
            li#comment-65894
              cite
                | Nadina Mackie Jackson (2018-02-14)
                a(href='#comment-65894') #
              p I’ve spent all my classical career in big cities but two years ago, I bought a repurposed church/concert hall in a small town near Toronto...acoustic and artistic heaven and it seemed to totally put the brakes on my career even though I’ve opened up the space for as many shows as I could. I just couldn’t figure it why since most of my concerts are usually tours, but t seems that being based in the city sends all kinds of signals. In the arts business, we truly need the sparks of other people. Your article explains a lot!
            li#comment-65899
              cite
                | Edward A Moore (2018-02-14)
                a(href='#comment-65899') #
              p Very Interesting Perspective Derek. I had spent a month in Greenwich Village and 3 years in L.A.! Both are extreme rat races for sure, but loaded with contacts. Yet I am surprised that you skipped Austin, TX & Nashville, TN too!!!:-0~
            li#comment-65903
              cite
                | Alessandro (2018-02-14)
                a(href='#comment-65903') #
              p
                | I agree and I think that it is also true for other fields. For example, in software development is still important to be in big cities, remote work could work after you have good experience and a good network, but it is not the same as to live where the things happen. I moved in London 2012 and that helped me a lot with my career.

                br
                | Thanks!
            li#comment-65910
              cite
                | Robby Kjonaas (2018-02-14)
                a(href='#comment-65910') #
              p
                | And Nashville? Or should I choose Los Angeles as a songwriter...
                br
                span.response I think Nashville is OK for music, but isn't quite the MASSIVE hub that LA and NY are. I almost included it, but left it out because then I'd have to include Atlanta, Sao Paulo, Shanghai, Berlin, etc. -- Derek
            li#comment-65936
              cite
                | Geri Rosman (2018-02-14)
                a(href='#comment-65936') #
              p Hi Derek. Just went back and read about the trust and sale. Do you still live off of 5%? I'm not sure I figured it correctly; I've never been good in math. About the big cities -- I've only lived in NYC. Not having money in a city like that makes living there harder and less glamorous. And that was a long time ago. Before rents were equivalent to or more than mortgage payments in other parts of the country. I finally left when the rats were on the subway platform, not just down in the tracks. Hope all is well. Best/GeriR
            li#comment-65955
              cite
                | Colleen (2018-02-14)
                a(href='#comment-65955') #
              p I live in the suburbs of a big city... it would probably be better for my career to live in the city proper, but I am close enough that I can work and still come home to some place that I like. So the compromise works for me.
            li#comment-65958
              cite
                | Clayton Howe (2018-02-14)
                a(href='#comment-65958') #
              p Agreed. So much more (for me) has happened in one year of living in NYC than ever before.
            li#comment-65960
              cite
                | Michael Howard (2018-02-14)
                a(href='#comment-65960') #
              p
                | Ok Derek,
                br
                br
                | I'm going to agree with you to some extent on this one BUT there are also some shitty things about living in the big city (the big shitty).
                br
                br
                | 1. Paying the freaking rent. It can be WAY too much to survive if you don't have a "day job."
                br
                | 2. Standing out in the crowd. Little fish in a giant ocean as opposed to being the big fish in small pond.
                br
                | 3. Making friends (relevant to your previous article). It's much harder (in my opinion and in my experience) to make friends with people who are in the industry in a big city like Los Angeles than in a smaller town where it may be a more tight knit community.
                br
                | 4. Pay to Play Gigs (in Los Angeles). If you don't bring a crowd with you, you actually have to PAY the venue to perform there!

                br
                br
                | Your reasons to live in a big city absolutely make sense BUT beware the pitfalls!
            li#comment-65963
              cite
                | J.J. Vicars (2018-02-14)
                a(href='#comment-65963') #
              p
                | As much as I also hate to admit it this is definitely true. When I returned to the U.S. five years ago it involved a divorce and sudden departure which meant I had little more than a guitar and a suitcase. I camped out in northeast Ohio, the are where Alan Freed was from, because the cost of living was low and I was able to personally lower it even more by exchanging favors with family. Nice laid back place, friendly people and so forth but it's had its drawbacks. Not working with professionals has given me numerous headaches. It's a constant uphill battle to get anything done. The fact that 99.9% of the other musicians are happy to play local watering holes for fun makes me stand out in a not always healthy way. The exchanging of favors with relatives has renewed some of the unhealthy aspects of the relationship with them as well as triggering flashbacks of unpleasant events from the past. To top it all off I'd simply rather be in my hometown of Houston. I'm a stranger here no matter how long I stay and a Houston boy no matter how long I'm away.

                br
                br
                | The crunch doesn't get any lighter. I know I need to move to a major music city with other serious musicians. Just haven't worked out how yet. Finances are always the obstacle it seems. Hopefully my story will drive home the point for anyone reading it; if you're serious get outta the sticks and into a major hub pronto! You'll be glad you did.
            li#comment-65986
              cite
                | Josh Sahunta (2018-02-14)
                a(href='#comment-65986') #
              p So true. Definitely something I've been struggling to accept over the last while. This helped me find some clarity.
            li#comment-65994
              cite
                | Steve Kusaba (2018-02-14)
                a(href='#comment-65994') #
              p OK. You just pulled in to L.A. Who do you call? Every building in that city is locked down tight!!! Har har har!!
            li#comment-66006
              cite
                | Jim smith (2018-02-14)
                a(href='#comment-66006') #
              p
                | If you want to make a living catching fish, you have to live by a lake or river or ocean. Taking a few weeks of holiday at the beach is insufficient to help you understand how the tides work, how the seasons affects the migrations of fish and weather patterns, etc. You can’t truly grok those unless you live in the environment.

                br
                br
                | That’s what I heard. Is that what you intended to say?
            li#comment-66009
              cite
                | Anth (2018-02-14)
                a(href='#comment-66009') #
              p Honestly I know this sounds crazy, but I won't be moving back to a major music metro until after Trump war-talk subsides. Or he quits or something. Trying mining, a treasure chase, and part-time art out in the mountains - quite happy. It's my zone ;)
            li#comment-66023
              cite
                | Terry Ronan (2018-02-14)
                a(href='#comment-66023') #
              p So true. I have seen this with artists I managed, when they were connected into larger cities opportunities and connections were just naturally there. I love being in nature and surfing however love the music industry also
            li#comment-66032
              cite
                | Ben Meredith (2018-02-14)
                a(href='#comment-66032') #
              p
                | Love this Derek - applies to all careers! I have taken this on board for my career in Finance.

                br
                br
                | Cheers,

                br
                br
                | Ben Meredith
            li#comment-66040
              cite
                | Greg Parke (2018-02-14)
                a(href='#comment-66040') #
              p It all depends what your idea of success is. I used to live in a pretty major city well known for it's music scene, and several big time musicians were from, or still are based here. I found my success as a musician after I left the big city rat race for a very peaceful life in the country. I may have to drive a bit for performances, but don't musicians spend a lot of time on the road anyway? I may not be "big time", but as far as I am concerned, my success is measured by the fact that I am doing what I love, (music) my mortgage is paid off, I have a great family......and a very happy life!
            li#comment-66043
              cite
                | Paul (2018-02-14)
                a(href='#comment-66043') #
              p And Chicago?
            li#comment-66051
              cite
                | Zey (2018-02-15)
                a(href='#comment-66051') #
              p
                | You are the guru. So first and foremost much respect, and thank you for writing this.
                br
                br
                | I have to say, I traveled for three years and lived in Los Angeles for half of that.
                br
                br
                | I agree that being around the biggest and best opportunity puts you in the game.
                br
                br
                | The connections are faster, the opportunities can be bigger, and the competition is thrilling, intimidating, and inspirational, but in my experience a lot of deception and fraudulence is present in these markets and probably in any industry the higher up you go.
                br
                br
                | The connections, knowledge, opportunities, and experiences I've gained in my travels are definitely valuable and I would do it again the same way, but for what I'm trying to do it is important to have a local support base as well as the connections of the industry.
                br
                br
                | For me personally I prefer visiting.
                br
                br
                | I'm a family man, and in my experience no amount of opportunity is more valuable than what family can provide.
            li#comment-66052
              cite
                | Mike Chappelear (2018-02-15)
                a(href='#comment-66052') #
              p So true. Thanks for writing this up. Your stuff is always timely for me, like after you wrote about driving windy New.Zealand roads, I had just left living in Big Sur! I'm living in Hollywood now. Everything you wrote is accurate for here in L.A. Cheers!
            li#comment-66056
              cite
                | Matthias Sturm (2018-02-15)
                a(href='#comment-66056') #
              p
                | a hell of living in a monster city just to become part of the dream of sxs versus healh and lucky living at the countryside -- what's to ask here? I've learned to manage my carreer, operating out of a paradise place in the french Auvergne region, so it's possible. First step? To respond to the collective coercions of today's society in a wise manner, to unlearn the brain wash, facing a free live.

                br
                br
                | cheers, M.S.
            li#comment-66060
              cite
                | Adrian (2018-02-15)
                a(href='#comment-66060') #
              p What would you say in terms of tech? I lived in Hong Kong for a year and was less than impressed with their tech scene. Currently, I'm in Singapore (the darling of tech in Asia), and (silicon valley aside), I am not certain that this place is as good as NYC/London.
            li#comment-66066
              cite
                | Brant (2018-02-15)
                a(href='#comment-66066') #
              p Surprised Nashville didn't make your list
            li#comment-66082
              cite
                | Tim (2018-02-15)
                a(href='#comment-66082') #
              p Yep...you need to be in the big city because that's where the personal relationships happen - and there's enough people to get in or create a flow of energy. The internet is just a massive amplifier.
            li#comment-66087
              cite
                | Everett Adams (2018-02-15)
                a(href='#comment-66087') #
              p We all can't live in the cities, who would feed us, grow vegetables, catch fish, raise cattle, pump oil, cut timber etc.
            li#comment-66088
              cite
                | jean claude jc jones (2018-02-15)
                a(href='#comment-66088') #
              p Hi Derek, over the decades i discovered that it is better to be a big fish in a small city than a small one in a big
            li#comment-66100
              cite
                | Joel D Canfield (2018-02-15)
                a(href='#comment-66100') #
              p This, more than anything else, is what keeps my music a hobby. The stress of living in one of those cities would damage me.
            li#comment-66111
              cite
                | Robert Lazaneo (2018-02-15)
                a(href='#comment-66111') #
              p Finally someone said it. The internet won't make you successful. It is only through actual meeting other people who are in the business that you will be taken seriously. Anyone can make a recording. Anyone can get a website. Anyone can get an online source to sell their music or get internet radio play but you will just be passed by, yet still there are companies & individuals who make a living marketing a service that claims to by pass the real world interaction for a price.
            li#comment-66122
              cite
                | An (2018-02-15)
                a(href='#comment-66122') #
              p So timely and encouraging as I pack to move to LA! ☺
            li#comment-66149
              cite
                | Clark (2018-02-15)
                a(href='#comment-66149') #
              p Thanks Derek! I moved from Maui to San Diego to pursue my musical ambitions. I'm finding that San Diego is "less than" Los Angeles but I thought that SD is close enough...it isn't. I spent a year in L.A. and I know this to be true. Saving money to get back to L.A. now! Thanks for the clarity! Aloha, Clark
            li#comment-66200
              cite
                | Vail Hayes (2018-02-17)
                a(href='#comment-66200') #
              p See yeah!!! 💼 🚐 🏫
            li#comment-66214
              cite
                | Lee Cutelle (2018-02-17)
                a(href='#comment-66214') #
              p Being close to where the action is does have a lot of advantages.
            li#comment-66225
              cite
                | Markus Nylund (2018-02-18)
                a(href='#comment-66225') #
              p
                | The question is: do you want to be a big fish in a little pond (small town) or a small fish in a big pond (big city)?

                br
                br
                | If you are good enough, the internet makes all of this obsolete.

                br
                br
                | It's the ultimate equalizer.
            li#comment-66234
              cite
                | Bo Seamon (2018-02-18)
                a(href='#comment-66234') #
              p
                | Loving these articles and insights Derek. A good caveat to this principle might be, make sure you're *really good* before you move to one of these cities. HIgher stakes and talent levels mean that if you're still developing you may have a tough time getting gigs and collaborating so you can grow into your potential. Perhaps an incubator city would be better first, like Austin or Nashville?
                br
                span.response I think the home-town is the incubator, and while it's best to get GREAT before moving to the city, you're going to keep improving and improving forever once there, so many rise to the challenge *after* arriving. -- Derek
            li#comment-66292
              cite
                | Tosin (2018-02-19)
                a(href='#comment-66292') #
              p
                | Nice to see people standing up for their cities in the comments sections..lol

                br
                br
                | Westsiiiide:)
            li#comment-66376
              cite
                | Sean (2018-02-19)
                a(href='#comment-66376') #
              p If you haven't read, you might enjoy Richard Florida's _Who's Your City?_
            li#comment-66395
              cite
                | JJ.Bitt (2018-02-19)
                a(href='#comment-66395') #
              p
                | Wow, this one hits close to home -- my wife and I live in Portland, but this morning we were debating a move back to LA.

                br
                br
                | We've lived in LA before, but my wife (an actress) actually gets more roles up here because there's less competition.

                br
                br
                | Maybe Portland is a good place to build momentum before moving to a larger market? I'd be curious to hear your thoughts, especially considering you've lived in both.

                br
                br
                | Thanks, Derek!
            li#comment-66442
              cite
                | Nicky Shane (2018-02-19)
                a(href='#comment-66442') #
              p This is Right on Derek as I now live and network in LA but man it's expensive and I don't know how long I can afford to stay here...
            li#comment-66446
              cite
                | Alan Hanslik (2018-02-19)
                a(href='#comment-66446') #
              p
                | Derek,

                br
                br
                | True if not depressing... but as you say - I've just left LA to be much more rural! That fact is you can still have a career - depending on what stage and do it remotely now. If you're getting started and don't have to have your career up and running and supporting you soon, then not being local in big city may work. Or if you're already well established and you take and will have your connections to continue on, then you can also choose that alternative life style and still make a go of it. But... yes, living in LA for 28 years - there's just not replacement and even if you're not at the top, the amount of little work and places to get started and produce music and income are 1000's of times more then somewhere else!
            li#comment-66477
              cite
                | kelly pardekooper (2018-02-19)
                a(href='#comment-66477') #
              p This is so true Derek. I also hate to admit this in interviews that I've done over the last 20 years. I'm from Iowa City and love the Midwest...but the 5 years living in Los Angeles led to my music publisher and all the TV/FILM song placements these past 10 years.
            li#comment-66504
              cite
                | Eric (2018-02-20)
                a(href='#comment-66504') #
              p I’d add Nashville to this list if you are a country, folk, Christian, or Americana artist/writer. A lot of music power flowing there as well.
            li#comment-66509
              cite
                | Zoltan Farkas (2018-02-20)
                a(href='#comment-66509') #
              p Excellent, as always.
            li#comment-66554
              cite
                | H (2018-02-21)
                a(href='#comment-66554') #
              p
                | Derek, in 2 months I will be permanently moving to Mumbai, I am European and my girlfriend with whom I am expecting a baby is from Northeast India.

                br
                br
                | It will be a challenge to make $$$ but I am so looking forward to it.

                br
                br
                | I am curious why do you like India, cause you listed it as one of he places you are most attached to?
                br
                span.response Whatever true thing you can say about India, the opposite is also true. -- Derek
            li#comment-66558
              cite
                | Dan (2018-02-21)
                a(href='#comment-66558') #
              p Great insight. Surprised Nashville didn't make the cut.
            li#comment-66583
              cite
                | Paull Serrato (2018-02-22)
                a(href='#comment-66583') #
              p Totally sound advice. Don't have second thoughts if you're serious. Just DO IT!
            li#comment-66588
              cite
                | MarkF (2018-02-22)
                a(href='#comment-66588') #
              p
                | what about people like Tim Ferriss (author of Four Hour Workweek) who nomadically jet about the planet?

                br
                br
                | i would think that done right, a nomadic lifestyle, or a flyover-farmberg lifestyle can pay off nicely if one plays their cards right, even in a contact-oriented or creative career.

                br
                br
                | the internet was made to decentralise!
                br
                span.response Much of Tim’s success came from living in San Francisco. But this article was specifically for musicians. The nomad thing is nice in theory - (I’m living it) - but re-read the last sentence of the article. -- Derek
            li#comment-66638
              cite
                | Matt Oestreicher (2018-02-26)
                a(href='#comment-66638') #
              p Yep. I'd love to move back to the mountains where I love the pace of life but i'm in NYC because I get to work with some of the greatest musicians every single day. It makes me better at what I do and keeps me learning every day. One day I'll get back to the mountains though!
            li#comment-66662
              cite
                | Tony (2018-02-27)
                a(href='#comment-66662') #
              p
                | This article reminds me of the quote that captured this idea in one sentence: "80% of success is just showing up" -Woody Allen.

                br
                br
                br
                | Although we can debate how large a role it plays, there is no denying that where you live is incredibly important when it comes to unearthing opportunities.
            li#comment-66696
              cite
                | Mark e Frauenfelder (2018-03-02)
                a(href='#comment-66696') #
              p The smell of busses, the brake dust of trains and the aroma of real coffee wafting the sidewalks as I took cover from the sun, blocked by glass and cement. I LOVED my first trip into the city. It’s where I can finally breath, and creatively think, and observe a multitude of individual differences that feed gloriously into my soul. Currently, I’m wedged between purgatory and limbo, but fear not, at night I look at the same stars glittering my glaze and with hopeful intentions I will once again return and breath in the grit and rawness that only a city can offer.
            li#comment-67017
              cite
                | M'Bike' Mark Featherstone (2018-03-18)
                a(href='#comment-67017') #
              p Ouch. Sad but true.
            li#comment-67450
              cite
                | Grace (2018-05-22)
                a(href='#comment-67450') #
              p Hello，very glad to listen to your English ! You know ，I’m gonna graduate from college, so I am facing to find a job. I can get a very special and wonderful job that I like so much. The only thing I think about is the place.If I choose this job, that means I must leave my hometown and my family and my friends. I am so entangled now ！These days, I have been thinking about this,but I still have no idea!
            li#comment-68529
              cite
                | Kari Paavola (2018-08-28)
                a(href='#comment-68529') #
              p
                | Hi Derek.

                br
                | I only found about you today thru the Ferriss podcast.

                br
                | I think what you have done with your life, music and business is just beyond amazing! Everyone in the creative industries should know about you and learn from you.

                br
                br
                | I just wanted to comment on this post about moving to where the action is to be 100% TRUE. I am a pro musician who now lives back in my native Finland because for the kids its better in Helsinki than London. Now I did 12 years

                br
                | In London and can say it was the single best thing I could have done for music. I now lecture in the regional music schools in then Baltics and Europe about the freelance music life for the future professionals and I always say this: “you must try the big scene” to all the youngster, now after reading your post I will also direct them here too and say “If you dont believe me, believe this Derek guy, he knows what he is talking about!

                br
                br
                | All the best!

                br
                | Kari

                br
                br
                | PS/ your friend’s father was the President of Finland.
            li#comment-68634
              cite
                | Sean Crawford (2018-10-01)
                a(href='#comment-68634') #
              p
                | Hello everyone,

                br
                | I like how Mark Frauenfelder at #53 likes cities. Me too. People make songs about nature and life in a small town and getting back to the garden, but not many people sing "you belong to the city, concrete under your feet."

                br
                br
                | So it was nice to read that someone shares my joy and energy. I was telling Derek I liked Central London because I so seldom saw a city while I was growing up.

                br
                br
                | George Orwell once wrote that intellectuals and writers don't go live in the colonies. (Except Kipling) I thought he meant because they value their city comforts. I know now he meant because in the city they get stimulation and meet people like themselves, who read books and think of philosophy. ...Maybe, here in my city, I could try to meet more smart people.
            li#comment-73488
              cite
                | Tom Robinson (2019-11-13)
                a(href='#comment-73488') #
              p
                | Damn I really needed this. I've been so skeptical about moving to London, but I need to give it a few years there as that's where the jobs are.

                br
                br
                | From there, the CV looks better and I can then move somewhere quieter, with that experience behind me.

                br
                br
                | Thanks, Derek.
      script(type='text/javascript' src='/js/comments.js')
