extends layout.pug

block body
  include header.pug
  include ad-banner.pug
  include sidebar.pug
  main
    include articles/semantic.pug
    include suggestions.pug
    include comments.pug
  include footer.pug
