article
  section
    h1 This is the main heading
    div.meta
      span.author
        span Author Name
      span.date December 14, 2019
      span.description This article is about testing the various features of article extraction focusing on different stuff and things, among much, much more...
  section
    p This is the “second paragraph.”
    p (This paragraph is parenthesized. What's more, there are "2 sens" in these parens.)
    figure
      img(src='https://somewhere.com/pic.jpg')
      figcaption This captions the image above
    p Eiusmod est eu eu labore id commodo. Voluptate cupidatat consequat nulla aliquip eu ut minim Lorem sint nostrud cillum veniam duis. Mollit anim esse eiusmod proident exercitation magna culpa fugiat anim veniam.
    p Fugiat irure minim #[a(href='#') fugiat in excepteur] adipisicing voluptate commodo nostrud eu. Id duis aliqua veniam occaecat minim excepteur elit ex sint nostrud cupidatat commodo. Laborum ut nulla ullamco occaecat voluptate ex laborum minim eu nisi quis duis duis labore. Nostrud Lorem deserunt in duis veniam reprehenderit. Veniam adipisicing culpa ut ipsum laborum eu id voluptate.
    blockquote Occaecat duis qui enim culpa sunt magna et est culpa commodo est et est fugiat. Et eiusmod amet cillum velit eiusmod cupidatat. Eiusmod ea sit veniam elit id dolore voluptate Lorem. Magna ea aute minim qui ex qui laboris commodo veniam commodo ullamco.
    h3 This is a sub-heading
    p Magna laborum aliquip ullamco duis do quis laborum aliquip eiusmod. Ipsum adipisicing ut duis id non. Officia velit cupidatat sint elit duis aliquip aliquip exercitation officia commodo exercitation. Est veniam nostrud cillum enim cupidatat culpa velit eu. Ex ex mollit nulla aliqua sint.
    p Ex cillum non eiusmod ipsum irure veniam amet ex anim id in velit. Officia non cupidatat non reprehenderit. Laborum laborum reprehenderit commodo non do dolor incididunt mollit. Eiusmod pariatur occaecat eu exercitation est enim minim adipisicing velit. Aute veniam aliquip laboris qui non incididunt quis elit est ullamco aliquip minim. Dolor ipsum veniam amet aliquip anim cillum minim aliquip ex et nisi cillum.
    p Nostrud proident #[a(href='#') cillum eiusmod elit amet] et adipisicing velit elit. Commodo Lorem commodo cupidatat labore velit eiusmod. Quis enim voluptate sint duis reprehenderit enim ullamco nisi nostrud eiusmod ad. Est et occaecat magna amet do ex adipisicing ad occaecat culpa pariatur. Consequat commodo exercitation et officia non excepteur aliqua aute. Labore exercitation duis occaecat occaecat aliqua amet cupidatat cillum duis culpa sunt commodo culpa.
    h3 This is a sub-heading
    p Laborum laborum id duis qui reprehenderit cupidatat eiusmod cillum ad occaecat occaecat cupidatat. Excepteur consequat enim in sit magna non elit ipsum ullamco culpa ad. Eiusmod ipsum voluptate est nisi amet. Sit deserunt sint consequat incididunt sit amet dolore consequat culpa Lorem cillum. Laborum sint enim officia cillum sint cupidatat pariatur deserunt exercitation.
    blockquote Laborum cupidatat cillum commodo anim dolor labore dolor non Lorem sunt. Fugiat fugiat nisi consectetur est proident minim sit occaecat eu minim esse. Amet enim laboris ipsum pariatur aute eiusmod nostrud officia. Exercitation cupidatat officia non eu quis deserunt proident et voluptate pariatur nisi esse.
    p Aute irure irure duis do do cillum et occaecat. Magna exercitation quis in et occaecat ad excepteur ex duis ad in aliquip. Cupidatat velit eu eiusmod officia incididunt amet veniam id do laboris. Exercitation aliquip do adipisicing veniam labore exercitation deserunt veniam consectetur Lorem deserunt nostrud consequat incididunt. Elit occaecat commodo veniam esse sint amet.
    p Eu proident qui adipisicing occaecat ut laborum magna do consectetur esse. Occaecat deserunt velit enim fugiat velit. Sint enim anim culpa ex ullamco ea fugiat eiusmod. Duis pariatur in sint veniam commodo dolor qui est dolore irure laborum. Fugiat velit duis nisi duis dolor qui laboris fugiat adipisicing velit do amet. Sit dolor eu ea eu excepteur occaecat excepteur culpa consequat minim exercitation deserunt in. Cupidatat officia deserunt aliquip irure voluptate velit adipisicing proident mollit sint sint fugiat dolor.
    h3 This is a sub-heading
    p Ullamco veniam ullamco cillum aliqua nulla commodo ex amet officia sunt aute aliquip in. Aliqua sit id eu ea aute nisi eiusmod ea ut. Reprehenderit commodo culpa irure cillum. Laborum deserunt eu sunt ad ut laboris tempor exercitation consectetur. Nulla amet proident cillum ut irure velit proident tempor officia cupidatat pariatur duis dolore. Nulla ullamco ipsum consectetur incididunt ipsum irure. Sint reprehenderit est velit ipsum.
    p Laborum laborum ad Lorem amet ipsum commodo et eu reprehenderit ex do commodo. Cillum esse sit ex laboris voluptate occaecat sunt in labore deserunt id magna officia anim. Dolor eu deserunt consequat et do sint irure dolore aliqua amet laborum magna. Minim incididunt minim commodo adipisicing. Irure proident adipisicing commodo qui commodo ullamco aliquip anim duis officia non sit aliqua. Eu ipsum eiusmod et eiusmod sint anim do Lorem nulla.
    p Ut occaecat eiusmod aliqua labore. Et eu cillum enim ut ipsum et adipisicing proident enim tempor. Labore exercitation quis magna Lorem. Esse Lorem consequat nisi sit sit.
    blockquote Proident occaecat eiusmod sunt reprehenderit dolor exercitation duis minim aliqua reprehenderit irure labore. Labore est proident aute est sint nisi dolore nisi ad voluptate eu. Sint dolor id nisi tempor non dolor duis dolore Lorem proident sint reprehenderit. Eu deserunt adipisicing in do anim incididunt officia amet nostrud laborum officia mollit. Et voluptate sit do laborum velit cupidatat nisi pariatur aute.