section.eh.ei.ej.ek.el
  .em.ak
    figure.en.em.ak.paragraph-image
      .eo.ep.bs.eq.ak
        .ev.r.bs.ew
          .ex.r
            .br.er.cy.t.u.es.ak.bk.et.eu
              img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*jOvu1hK1XTrBswWU7hHcMg.jpeg?q=20' width='2767' height='2289' role='presentation')
            img.oh.qo.cy.t.u.es.ak.fb(width='2767' height='2289' role='presentation' src='https://miro.medium.com/max/2767/1*jOvu1hK1XTrBswWU7hHcMg.jpeg')
            noscript
              img.cy.t.u.es.ak(src='https://miro.medium.com/max/5534/1*jOvu1hK1XTrBswWU7hHcMg.jpeg' width='2767' height='2289' role='presentation')
      figcaption.bc.bq.fc.fd.fe.eb.dz.ea.ff.fg.ax.fh(data-selectable-paragraph='')
        | Illustrations:
        a.bv.fi.fj.fk.fl.fm(href='https://camfloyd.com' target='_blank' rel='noopener nofollow') Cam Floyd
  .n.p
    .ac.ae.af.ag.ah.fn.aj.ak
      div
        #ab34.fo.fp.fq.ay.fr.b.fs.ft.fu.fv.fw.fx.fy
          h1.fz.ga.fs.gb.fq The Influencer and the Hit Man
      #8b40.gc.fp.bc.ay.ax.fh.gd.ge.gf.gg.gh.gi.gj
        h2.gk.b.gl.gm.bc How a years-long domain name feud ended in a bloody shootout
      .gn
        .n.go.gp.gq.gr
          .o.n
            div
              a(href='/@IanFrisch?source=post_page-----6c3905efd3c3----------------------' rel='noopener')
                img.r.df.gs.gt(alt='Ian Frisch' src='https://miro.medium.com/fit/c/96/96/1*OgEDu3Iya1f0yjpfPonDbw.jpeg' width='48' height='48')
            .gu.ak.r
              .n
                div(style='flex:1')
                  span.ax.b.ay.az.ba.bb.r.fq.q
                    .gv.n.o.dv
                      span.ax.fh.bq.az.bk.gw.bj.gx.gy.gz.fq
                        a.bv.bw.bx.by.bz.ca.cb.cc.cd.ce.ha.ch.ci.cj.ck(href='/@IanFrisch?source=post_page-----6c3905efd3c3----------------------' rel='noopener') Ian Frisch
                      .hb.r.aw.h
                        button.hc.hd.he.hf.hg.hh.hi.hj.ce.hk.ax.b.ay.hl.hm.bb.hn.ho.ec.bm.fi.ch Follow
              span.ax.b.ay.az.ba.bb.r.bc.bd
                span.ax.fh.bq.az.bk.gw.bj.gx.gy.gz.bc
                  div
                    a.bv.bw.bx.by.bz.ca.cb.cc.cd.ce.ha.ch.ci.cj.ck(rel='noopener' href='/the-influencer-and-the-hit-man-6c3905efd3c3?source=post_page-----6c3905efd3c3----------------------') Dec 10
                    //
                    | &middot;
                    //
                    //
                    | 24
                    //
                    | min read
                    span(style='padding-left:4px')
                      svg.star-15px_svg__svgIcon-use(width='15' height='15' viewbox='0 0 15 15' style='margin-top:-2px')
                        path(d='M7.44 2.32c.03-.1.09-.1.12 0l1.2 3.53a.29.29 0 0 0 .26.2h3.88c.11 0 .13.04.04.1L9.8 8.33a.27.27 0 0 0-.1.29l1.2 3.53c.03.1-.01.13-.1.07l-3.14-2.18a.3.3 0 0 0-.32 0L4.2 12.22c-.1.06-.14.03-.1-.07l1.2-3.53a.27.27 0 0 0-.1-.3L2.06 6.16c-.1-.06-.07-.12.03-.12h3.89a.29.29 0 0 0 .26-.19l1.2-3.52z')
          .n.hp.hq.hr.hs.ht.hu.hv.hw.ab
            .n.o
              .hx.r.aw
                a.bv.bw.bx.by.bz.ca.cb.cc.cd.ce.cf.cg.ch.ci.cj.ck(href='//medium.com/p/6c3905efd3c3/share/twitter?source=post_actions_header---------------------------' target='_blank' rel='noopener')
                  svg.q(width='29' height='29')
                    path(d='M22.05 7.54a4.47 4.47 0 0 0-3.3-1.46 4.53 4.53 0 0 0-4.53 4.53c0 .35.04.7.08 1.05A12.9 12.9 0 0 1 5 6.89a5.1 5.1 0 0 0-.65 2.26c.03 1.6.83 2.99 2.02 3.79a4.3 4.3 0 0 1-2.02-.57v.08a4.55 4.55 0 0 0 3.63 4.44c-.4.08-.8.13-1.21.16l-.81-.08a4.54 4.54 0 0 0 4.2 3.15 9.56 9.56 0 0 1-5.66 1.94l-1.05-.08c2 1.27 4.38 2.02 6.94 2.02 8.3 0 12.86-6.9 12.84-12.85.02-.24 0-.43 0-.65a8.68 8.68 0 0 0 2.26-2.34c-.82.38-1.7.62-2.6.72a4.37 4.37 0 0 0 1.95-2.51c-.84.53-1.81.9-2.83 1.13z')
              .hx.r.aw
                a.bv.bw.bx.by.bz.ca.cb.cc.cd.ce.cf.cg.ch.ci.cj.ck(href='//medium.com/p/6c3905efd3c3/share/facebook?source=post_actions_header---------------------------' target='_blank' rel='noopener')
                  svg.q(width='29' height='29')
                    path(d='M23.2 5H5.8a.8.8 0 0 0-.8.8V23.2c0 .44.35.8.8.8h9.3v-7.13h-2.38V13.9h2.38v-2.38c0-2.45 1.55-3.66 3.74-3.66 1.05 0 1.95.08 2.2.11v2.57h-1.5c-1.2 0-1.48.57-1.48 1.4v1.96h2.97l-.6 2.97h-2.37l.05 7.12h5.1a.8.8 0 0 0 .79-.8V5.8a.8.8 0 0 0-.8-.79')
              .hy.r.ao
                .hz
                  div
                    .bm(role='tooltip' aria-hidden='true' aria-describedby='1' aria-labelledby='1')
                      button.bv.bw.bx.by.bz.ca.cb.cc.cd.ce.cf.cg.ch.ci.cj.ck
                        svg(width='25' height='25' viewbox='0 0 25 25')
                          path(d='M19 6a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v14.66h.01c.01.1.05.2.12.28a.5.5 0 0 0 .7.03l5.67-4.12 5.66 4.13a.5.5 0 0 0 .71-.03.5.5 0 0 0 .12-.29H19V6zm-6.84 9.97L7 19.64V6a1 1 0 0 1 1-1h9a1 1 0 0 1 1 1v13.64l-5.16-3.67a.49.49 0 0 0-.68 0z' fill-rule='evenodd')
      p#5b29.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in.io(data-selectable-paragraph='')
        span.r.ip.iy.is.bs.iz
          img.ja.jb.jc.jd.je.jf.cy.t.u.es.ak(alt='W' src='https://miro.medium.com/max/158/1*2WO0eS9O7c1osQQWzkyASg.png' width='79' height='79')
          span.r.ip.iq.ir.is.it.iu.iv.iw.ix.bs.br W
        | hen Ethan Deyo&rsquo;s small, sandy-haired dog cocked his head and perked up his ears, Deyo knew something was wrong. Deyo stepped out of the second-floor office of his Cedar Rapids, Iowa, home and peered down the stairs. That&rsquo;s when he saw a man with a gun standing in his foyer, and he began to understand the peril he was in.
      p#2f78.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | &ldquo;Come here, motherfucker!&rdquo; Deyo remembered the man screaming, pointing a gun at him. The gunman wore a baseball cap, had pantyhose pulled over his face, and sunglasses covered his eyes.
      p#342c.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Deyo briefly raised his arms in surrender &mdash; then bolted into his bedroom. He slammed the door behind him and braced for impact. Moments later, the intruder kicked through the doorway and grabbed Deyo by the neck.
      p#e7fe.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | &ldquo;Where&rsquo;s your computer?&rdquo; he demanded. According to Deyo&rsquo;s courtroom testimony, he led the man across the hall and into his office with the gun now shoved into the small of his back. He sat down, the man opened up his MacBook Pro, and Deyo felt the gun move from his spine to the rear of his skull, the metal hard on his scalp.
      figure.jh.ji.jj.jk.jl.em.dz.ea.paragraph-image
        .eo.ep.bs.eq.ak
          .dz.ea.jg
            .ev.r.bs.ew
              .jm.r
                .br.er.cy.t.u.es.ak.bk.et.eu
                  img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*B_t5PJiEX5buGvk3FJ0aFg.jpeg?q=20' width='1200' height='452' role='presentation')
                img.oh.qo.cy.t.u.es.ak.fb(width='1200' height='452' role='presentation' src='https://miro.medium.com/max/1200/1*B_t5PJiEX5buGvk3FJ0aFg.jpeg')
                noscript
                  img.cy.t.u.es.ak(src='https://miro.medium.com/max/2400/1*B_t5PJiEX5buGvk3FJ0aFg.jpeg' width='1200' height='452' role='presentation')
      p#23d3.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        mark.qq.qr.lt &ldquo;Okay, motherfucker,&rdquo; Deyo recalled him saying. &ldquo;GoDaddy.com.&rdquo;
      p#a620.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | The man handed him a piece of paper, which contained handwritten directions on how to transfer the domain name DoItForState.com from Deyo to someone else. Deyo knew the domain name well; ever since he and his brother purchased it two years earlier, DoItForState.com had brought them nothing but grief.
      p#85e9.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | To most of the public, &ldquo;Do It For State&rdquo; sounds like a word salad or a patriotic call to duty, but on college campuses around the United States, the four words have become shorthand for a burst of online notoriety. &ldquo;Do It For State&rdquo; is the hyperviral tagline associated with the social media company
        a.bv.fi.fj.fk.fl.fm(href='https://www.instagram.com/doitt4state/' target='_blank' rel='noopener nofollow') State Snaps
        | , which aggregates and posts debaucherous college-aged behavior on its Instagram, Snapchat, and Twitter accounts for the entertainment of millions of adoring, chuckleheaded fans. In these videos, a young person is seen doing something dumb or salacious, surrounded by a crowd enthusiastically egging them on by chanting &ldquo;do it for State!&rdquo; Think of it as a call-to-action parallel to &ldquo;WorldStar!&rdquo; &mdash; the tagline linked to the popular site WorldStarHipHop &mdash; but tailored for college kids.
      p#0304.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Deyo and his brother, Chris, had no official ties to State Snaps, but they knew a business opportunity when they saw one. The brothers, both in their twenties, had purchased DoItForState.com in January 2015, when they first noticed State Snaps going viral. They wanted to capitalize on the State Snaps hype by selling merchandise and working with a friend to brand and promote parties under the tagline. But they certainly were not expecting the war that would follow. (Ethan Deyo did not respond to requests for comment for this story, and Chris Deyo declined to comment.)
      p#60cf.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Now Ethan Deyo had a gun to his head and a note in his hands, its chicken-scratch script barely legible. He didn&rsquo;t know the identity of the guy holding him up &mdash; a hired gunman, most likely. But he did have an idea as to who was behind all of this: the man who owned State Snaps, and Deyo&rsquo;s nemesis of sorts.
      p#544b.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='') His name was Rossi Adams.
  .em
    .n.p
      .jn.jo.jp.jq.jr.js.ag.jt.ah.ju.aj.ak
        figure.jh.ji.jj.jk.jl.em.jw.jx.paragraph-image
          .eo.ep.bs.eq.ak
            .dz.ea.jv
              .ev.r.bs.ew
                .jy.r
                  .br.er.cy.t.u.es.ak.bk.et.eu
                    img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*lHjlpTEqsJHwGuKJaYTUeQ.png?q=20' width='2400' height='80' role='presentation')
                  img.oh.qo.cy.t.u.es.ak.fb(width='2400' height='80' role='presentation' src='https://miro.medium.com/max/2400/1*lHjlpTEqsJHwGuKJaYTUeQ.png')
                  noscript
                    img.cy.t.u.es.ak(src='https://miro.medium.com/max/4800/1*lHjlpTEqsJHwGuKJaYTUeQ.png' width='2400' height='80' role='presentation')
  .n.p
    .ac.ae.af.ag.ah.fn.aj.ak
      p#7933.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in.io(data-selectable-paragraph='')
        span.r.ip.iy.is.bs.iz
          img.ja.jb.jc.jd.je.jf.cy.t.u.es.ak(alt='H' src='https://miro.medium.com/max/158/1*rcCPjRo5oZBdiNkHEUxWMw.png' width='79' height='79')
          span.r.ip.iq.ir.is.it.iu.iv.iw.ix.bs.br H
        | ow much is a domain name worth? Well, that depends. Though we live in the era of apps, desirable domains can still be worth tens of millions of dollars &mdash; earlier this year, Voice.com sold for $30 million, a record for a domain name-only sale. For less iconic URLs, value is in the eye of the beholder.
      p#9215.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | It&rsquo;s unclear how much DoItForState.com was ever worth on the open market. But for Rossi Adams, the founder of State Snaps, the domain would become an object of intense focus. Without the URL, State Snaps was incomplete. Adams&rsquo; years-long quest to get the URL would eventually propel him down a violent path &mdash; a downward spiral that would end in a hit man, a shoot-out, and a sentence of 14 years behind bars.
      p#7c4f.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | One of the first things Gladys Adams told me about her son Rossi was that he was a precocious child who knew from an early age that entrepreneurial scrappiness would take him far. &ldquo;I&rsquo;ve always told my kids that you work hard and you play later,&rdquo; she told me. As the eldest of three children, she said, Rossi was a kind and respectful boy who addressed adults by Mr. and Mrs. and always looked out for his younger siblings. &ldquo;He was their protector,&rdquo; she told me. Coming home from school, she said, he would hold his siblings&rsquo; hands as they walked up the driveway. (Rossi Adams declined to comment for this story.)
      p#9f90.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Adams and his family moved from Atlanta, Georgia, to Cedar Rapids when he was 16. As a teen, Gladys told me, Adams was mild-mannered and friendly, assimilating easily wherever he went. She said that he wanted to stay close to his family after high school, so in 2012, he enrolled locally at Iowa Central Community College. In the fall of 2013, he transferred to Iowa State University and majored in kinesiology, hoping to become a physical therapist. That year, he had a set of twins with a woman he was dating who lived in Cedar Rapids.
      p#e10f.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | By his mother&rsquo;s account, Adams stepped up to the challenge of fatherhood. He often made the four-hour round trip from the ISU campus in Ames, Iowa, to Cedar Rapids to visit his children. &ldquo;I&rsquo;ve never seen a love like that,&rdquo; Gladys said. &ldquo;He never raises his voice to them; he wants them to know they can talk to him about anything.&rdquo;
      p#f3fd.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Around the time he became a father, Adams started building a business off social media. According to Dylan Thomas, a close friend of Adams&rsquo; at ISU, Adams posted memes and occasionally inappropriate sexual content on his Twitter accounts. These accounts apparently amassed large followings, and Adams monetized them by posting links with embedded ads. If someone clicked on one, he got paid.
      p#92f9.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | &ldquo;Once someone gets their eyes on stuff like that, and it&rsquo;s nothing but hot girls and drunk guys doing stupid shit, that stuff sells,&rdquo; said Thomas. &ldquo;He knew that, and he tried to take advantage of that market.&rdquo;
  .em.ak
    figure.jh.ji.jj.jk.jl.em.ak.paragraph-image
      .ev.r.bs.ew
        .jz.r
          .br.er.cy.t.u.es.ak.bk.et.eu
            img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*RuNh83EXs10ClXh2OYIT-Q.png?q=20' width='2000' height='1830' role='presentation')
          img.oh.qo.cy.t.u.es.ak.fb(width='2000' height='1830' role='presentation' src='https://miro.medium.com/max/2000/1*RuNh83EXs10ClXh2OYIT-Q.png')
          noscript
            img.cy.t.u.es.ak(src='https://miro.medium.com/max/4000/1*RuNh83EXs10ClXh2OYIT-Q.png' width='2000' height='1830' role='presentation')
  .n.p
    .ac.ae.af.ag.ah.fn.aj.ak
      p#d647.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Adams dropped out of ISU after the spring 2014 semester and moved back home. Gladys says her son dropped out because he wasn&rsquo;t going to make the football team and &ldquo;just lost interest.&rdquo; Thomas thought the 21-year-old wanted more time to &ldquo;chase money.&rdquo; Though he was no longer enrolled, Adams kept his finger on the pulse at ISU, and launched State Snaps ahead of the beginning of fall semester. The account, Thomas said, &ldquo;took off very quickly.&rdquo;
      p#fdc7.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | The slogan &ldquo;Do It For State&rdquo; sprouted organically, and soon became synonymous with the State Snaps brand &mdash; a catch-all when referring to the account, and a chant that prompted young people to act out on their worst impulses. &ldquo;Guys would write #DoItForState on a girl&rsquo;s ass and send it in, and that really ignited the trend,&rdquo; Thomas said, adding that Adams told him he was getting hundreds of thousands of views on the Snapchat account. He soon launched a State Snaps Instagram account, which skyrocketed to a similar level of notoriety.
      figure.jh.ji.jj.jk.jl.em.dz.ea.paragraph-image
        .eo.ep.bs.eq.ak
          .dz.ea.jg
            .ev.r.bs.ew
              .jm.r
                .br.er.cy.t.u.es.ak.bk.et.eu
                  img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*yMdwjxNTX-ZYGyZ2NaQU2A.png?q=20' width='1200' height='452' role='presentation')
                img.oh.qo.cy.t.u.es.ak.fb(width='1200' height='452' role='presentation' src='https://miro.medium.com/max/1200/1*yMdwjxNTX-ZYGyZ2NaQU2A.png')
                noscript
                  img.cy.t.u.es.ak(src='https://miro.medium.com/max/2400/1*yMdwjxNTX-ZYGyZ2NaQU2A.png' width='1200' height='452' role='presentation')
      p#66cf.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | State Snaps spread across campuses nationwide like a virus. In November 2014, Thomas and Adams went on vacation to Cancun, Mexico, and &ldquo;people down there recognized the brand too,&rdquo; Thomas said. &ldquo;It was crazy.&rdquo; On a spring break trip to Panama City Beach, Florida, a few months later, Adams wore a custom-made &ldquo;Do It For State&rdquo; jersey, and people on the beach came up to him, chanting the company tagline.
      p#f36e.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | It was clear to those around him that Adams was making good money from State Snaps&rsquo; sponsored content deals. He even had a nickname, Polo, because of his outfits. &ldquo;He literally only wore Polo: Polo shirts, Polo shoes, Polo hats,&rdquo; Thomas said. &ldquo;He was always buying new shit. He would post his outfit on Snapchat, wear it out to the bar, then throw them away the next day. He was literally never not in a brand-new outfit.&rdquo;
      figure.jh.ji.jj.jk.jl.em.fb.kb.ho.kc.ip.kd.ke.kf.cc.cs.kg.kh.ki.kj.bg.paragraph-image
        .eo.ep.bs.eq.ak
          .dz.ea.ka
            .ev.r.bs.ew
              .kk.r
                .br.er.cy.t.u.es.ak.bk.et.eu
                  img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*-yr6Oxmc07tjR1U5Xxl4LQ.png?q=20' width='2000' height='1519' role='presentation')
                img.oh.qo.cy.t.u.es.ak.fb(width='2000' height='1519' role='presentation' src='https://miro.medium.com/max/2000/1*-yr6Oxmc07tjR1U5Xxl4LQ.png')
                noscript
                  img.cy.t.u.es.ak(src='https://miro.medium.com/max/4000/1*-yr6Oxmc07tjR1U5Xxl4LQ.png' width='2000' height='1519' role='presentation')
      p#e908.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | On his
        a.bv.fi.fj.fk.fl.fm(href='https://www.instagram.com/polofresh1/?hl=en' target='_blank' rel='noopener nofollow') personal Instagram account
        | , Adams posted pictures of tiger-print Adidas sneakers, animal-print Nikes, and the latest streetwear. His bio read &ldquo;Life is a game and I&rsquo;m just tryna Win #Entrepreneur.&rdquo; On his
        a.bv.fi.fj.fk.fl.fm(href='https://twitter.com/thenamespolo?lang=en' target='_blank' rel='noopener nofollow') personal Twitter account
        | , he made his priorities clear, posting, &ldquo;I just want the money,&rdquo; and &ldquo;I believe money is the best drug,&rdquo; and even, &ldquo;Money really make me feel like I can be somebody.&rdquo; He was, by all accounts, a fastidious business owner. &ldquo;It was as if his cell phone never left his palm,&rdquo; Thomas told me. &ldquo;He was the lifeblood of the content. He worked his ass off to build it.&rdquo;
      p#3ac1.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | In early 2015, KCCI 8, the CBS affiliate in Iowa&rsquo;s capital city of Des Moines, ran an evening segment on State Snaps. &ldquo;Nudity, sex, alcohol &mdash; you name it. It began at Iowa State University,&rdquo; the anchor says. The clip is littered with State Snaps content showing salacious selfies, heavy drinking, drug use, and one guy even lighting his nipples on fire.
      p#0b99.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | In
        a.bv.fi.fj.fk.fl.fm(href='https://www.kcci.com/article/state-snap-doesnt-set-well-with-iowa-state-university-officials/6436403' target='_blank' rel='noopener nofollow') the piece
        | , a reporter on the ground walks around asking kids, &ldquo;Do you do it for State?&rdquo; The question is met with equal parts laughter, chagrin, and deadpan seriousness. One kid says, without missing a beat, &ldquo;I would. I would definitely.&rdquo; Another answers, &ldquo;I do it for State every day.&rdquo;
      p#ca64.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | The then Iowa State University dean of students, Pamela Anthony, who has since passed away, tells KCCI 8 that the school tried numerous times to have State Snaps&rsquo; social media accounts shut down permanently, only to have them reemerge under a different handle. &ldquo;This is not the kind of publicity we want for our institution,&rdquo; she says.
      p#8002.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | The reporter also talks with Adams, who is identified only by his nickname, Polo. &ldquo;The nudity, that&rsquo;s what draws the attention, that&rsquo;s what got it going, you know?&rdquo; Adams tells KCCI 8 with an irreverent shrug. &ldquo;Sex sells.&rdquo; Adams continues, saying, if you don&rsquo;t like the content, &ldquo;you don&rsquo;t have to watch.&rdquo;
      p#b4f0.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Looking back at her son&rsquo;s posturing, Adams&rsquo; mother sees someone who saw a business opportunity and seized it. &ldquo;I didn&rsquo;t think the content was any worse than anything else you see on TV,&rdquo; she told me. &ldquo;He just did his own thing and did his business.&rdquo;
      figure.jh.ji.jj.jk.jl.em.fb.kb.ho.kc.ip.kd.ke.kf.cc.cs.kg.kh.ki.kj.bg.paragraph-image
        .eo.ep.bs.eq.ak
          .dz.ea.jg
            .ev.r.bs.ew
              .kl.r
                .br.er.cy.t.u.es.ak.bk.et.eu
                  img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*SFUod3AQggDCcYP9VLFhLg.jpeg?q=20' width='1200' height='315' role='presentation')
                img.oh.qo.cy.t.u.es.ak.fb(width='1200' height='315' role='presentation' src='https://miro.medium.com/max/1200/1*SFUod3AQggDCcYP9VLFhLg.jpeg')
                noscript
                  img.cy.t.u.es.ak(src='https://miro.medium.com/max/2400/1*SFUod3AQggDCcYP9VLFhLg.jpeg' width='1200' height='315' role='presentation')
      p#81f9.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | The disparaging news clip helped make State Snaps infamous. And Adams had plans to capitalize on the buzz: He wanted to build a website that piggybacked on the social media accounts, and provided another stream of income. &ldquo;He wanted to expand the brand and make it timeless, where each new class of students could carry it on, like what Barstool Sports is doing,&rdquo; Thomas said. &ldquo;If he could create that sense of brand loyalty across college campuses, it would support the overall growth of the company.&rdquo;
      p#400d.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Adams wanted the URL DoItForState.com in particular to complete his brand. Maybe it was a desire to take advantage of every financial opportunity available to him, or an inherent need to own every aspect of the company he had created. For whatever reason, the domain name, one of the most old-school digital properties out there, became a point of fixation. Eventually, it would also be Adams&rsquo; Achilles&rsquo; heel.
  .em
    .n.p
      .jn.jo.jp.jq.jr.js.ag.jt.ah.ju.aj.ak
        figure.jh.ji.jj.jk.jl.em.jw.jx.paragraph-image
          .eo.ep.bs.eq.ak
            .dz.ea.jv
              .ev.r.bs.ew
                .jy.r
                  .br.er.cy.t.u.es.ak.bk.et.eu
                    img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*lHjlpTEqsJHwGuKJaYTUeQ.png?q=20' width='2400' height='80' role='presentation')
                  img.oh.qo.cy.t.u.es.ak.fb(width='2400' height='80' role='presentation' src='https://miro.medium.com/max/2400/1*lHjlpTEqsJHwGuKJaYTUeQ.png')
                  noscript
                    img.cy.t.u.es.ak(src='https://miro.medium.com/max/4800/1*lHjlpTEqsJHwGuKJaYTUeQ.png' width='2400' height='80' role='presentation')
  .n.p
    .ac.ae.af.ag.ah.fn.aj.ak
      p#b84d.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in.io(data-selectable-paragraph='')
        span.r.ip.iy.is.bs.iz
          img.ja.jb.jc.jd.je.jf.cy.t.u.es.ak(alt='B' src='https://miro.medium.com/max/158/1*p8H8mgfQAYFkVsxI50_99w.png' width='79' height='79')
          span.r.ip.iq.ir.is.it.iu.iv.iw.ix.bs.br B
        | rothers Ethan and Chris Deyo knew the worth of a good domain name. Both men had previously worked at GoDaddy, the popular domain name registration company, and had side hustles as domain brokers: buying up URLs and flipping them for a profit. To young adults plugged into social media during the winter of 2014, it was clear that State Snaps, and the hashtag #DoItForState, was spreading like wildfire. Buying an associated domain to either sell or develop into a stand-alone business could be easy money.
      p#0628.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | On January 8, 2015, the Deyo brothers bought the domain DoItForState.com. Two days later, according to evidence submitted at trial, Ethan sent a text to his friend Brandon Miller, a party promoter who threw events across the country, asking if he had ever heard of State Snaps.
      p#c9a8.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='') &ldquo;Yeah I only watched like one time tho why,&rdquo; Miller replied.
      p#542f.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | &ldquo;I have DoItForState.com set up with all social media handles im about to take this guys [sic] business over and ride his wave,&rdquo; Ethan wrote. &ldquo;T shirts and other things sold online.&rdquo;
      p#32e6.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='') &ldquo;Jeez!&rdquo; Miller shot back. &ldquo;That&rsquo;s crazy!&rdquo;
      p#2ca5.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | At some point, Ethan told Miller to start using the hashtag #DoItForState to promote his parties, and the brothers showcased the event on DoItForState.com. Meanwhile, Ethan filed to trademark &ldquo;Do It For State,&rdquo; knowing he had something potentially lucrative on his hands.
      p#774b.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | According to Miller&rsquo;s testimony, during spring break 2015, he received an Instagram DM from the State Snaps account telling him to stop using the hashtag to promote parties. At the time, Miller was busy promoting a huge bash in Panama City Beach, Florida, and disregarded the message. In turn, Miller said, Adams doxxed him by posting his phone number on social media and encouraging thousands of followers to spam him. The barrage of messages crashed Miller&rsquo;s phone. (Brandon Miller did not respond to requests for comment for this story.)
      p#9aef.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Through friends, Miller got Adams&rsquo; phone number and sent him a text message, asking why he would reveal his number publicly. Miller later testified that he recalled Adams writing back, &ldquo;We&rsquo;re not, like, friends. You need to quit doing this. I already gave you a warning.&rdquo; He added at trial that the message ended with handgun emojis.
      p#79c6.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | But #DoItForState parties were the least of Adams&rsquo; worries. By the spring of 2015, Adams must have realized that someone had purchased the domain DoItForState.com. He conducted a search through the U.S. Patent and Trademark Office and found that the person who trademarked &ldquo;Do It For State&rdquo; was one Ethan Deyo &mdash; who also happened to live in Cedar Rapids.
      p#44fa.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Adams showed up at Deyo&rsquo;s house unannounced to clear up the situation. Deyo admitted that he owned the domain name and the trademark. Adams gave Deyo his phone number so the two could arrange a meeting to talk further.
  .em.ak
    figure.jh.ji.jj.jk.jl.em.ak.paragraph-image
      .ev.r.bs.ew
        .km.r
          .br.er.cy.t.u.es.ak.bk.et.eu
            img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*9qCfoiM26jqNSiGe_JcSgg.png?q=20' width='2000' height='1313' role='presentation')
          img.oh.qo.cy.t.u.es.ak.fb(width='2000' height='1313' role='presentation' src='https://miro.medium.com/max/2000/1*9qCfoiM26jqNSiGe_JcSgg.png')
          noscript
            img.cy.t.u.es.ak(src='https://miro.medium.com/max/4000/1*9qCfoiM26jqNSiGe_JcSgg.png' width='2000' height='1313' role='presentation')
  .n.p
    .ac.ae.af.ag.ah.fn.aj.ak
      p#f9a1.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | In July of that summer, Ethan, Chris, and Brandon Miller met Adams at Buffalo Wild Wings in Blairs Ferry, on the northern cusp of Cedar Rapids. Over food and drinks, they discussed partnering up and expanding the State Snaps brand. But the four couldn&rsquo;t come to any sort of agreement. As the company&rsquo;s founder, Adams understandably wanted ownership of the domain name; meanwhile, the Deyos wanted a bigger cut than Adams was willing to give. The parties parted ways without coming to a settlement.
      figure.jh.ji.jj.jk.jl.em.fb.kb.ho.kc.ip.kd.ke.kf.cc.cs.kg.kh.ki.kj.bg.paragraph-image
        .eo.ep.bs.eq.ak
          .dz.ea.ka
            .ev.r.bs.ew
              .kn.r
                .br.er.cy.t.u.es.ak.bk.et.eu
                  img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*816GJDPNWi3vwmExqS7VEA.png?q=20' width='2000' height='986' role='presentation')
                img.oh.qo.cy.t.u.es.ak.fb(width='2000' height='986' role='presentation' src='https://miro.medium.com/max/2000/1*816GJDPNWi3vwmExqS7VEA.png')
                noscript
                  img.cy.t.u.es.ak(src='https://miro.medium.com/max/4000/1*816GJDPNWi3vwmExqS7VEA.png' width='2000' height='986' role='presentation')
      p#5239.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Two days later, according to court testimony, the Deyo brothers were at home making dinner on the grill outside when Adams stopped by for another meeting. They talked for about an hour but still couldn&rsquo;t come to any agreement. As 2015 turned into 2016, the Deyo brothers and Adams continued operating in parallel: The brothers kept their ownership of the website, and State Snaps continued to explode on social media. Adams&rsquo; total follower count was now well past a million.
  .em
    .n.p
      .jn.jo.jp.jq.jr.js.ag.jt.ah.ju.aj.ak
        figure.jh.ji.jj.jk.jl.em.jw.jx.paragraph-image
          .eo.ep.bs.eq.ak
            .dz.ea.jv
              .ev.r.bs.ew
                .jy.r
                  .br.er.cy.t.u.es.ak.bk.et.eu
                    img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*lHjlpTEqsJHwGuKJaYTUeQ.png?q=20' width='2400' height='80' role='presentation')
                  img.oh.qo.cy.t.u.es.ak.fb(width='2400' height='80' role='presentation' src='https://miro.medium.com/max/2400/1*lHjlpTEqsJHwGuKJaYTUeQ.png')
                  noscript
                    img.cy.t.u.es.ak(src='https://miro.medium.com/max/4800/1*lHjlpTEqsJHwGuKJaYTUeQ.png' width='2400' height='80' role='presentation')
  .n.p
    .ac.ae.af.ag.ah.fn.aj.ak
      p#9f5c.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in.io(data-selectable-paragraph='')
        span.r.ip.iy.is.bs.ko
          img.ja.jb.jc.jd.je.jf.cy.t.u.es.ak(alt='In' src='https://miro.medium.com/max/196/1*ypn1BDTWIRmkvStuycjKHg.png' width='98' height='79')
          span.r.ip.iq.ir.is.it.iu.iv.iw.ix.bs.br In
        |  the spring of 2016, Adams received a Twitter DM from a man named Matt Shearer. Shearer lived in Malta, New York, and was a budding internet entrepreneur. He&rsquo;d seen the success of brands such as Barstool Sports and the Chive, and thought he could duplicate that success with State Snaps. &ldquo;This had so much potential to be something so great,&rdquo; Shearer said in an interview. &ldquo;It was like content I had never seen before.&rdquo;
      p#48bf.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Shearer offered to take Adams on a three-day cruise from Miami to the Bahamas in an effort to spark a business relationship, covering Adams&rsquo; $1,000 ticket to Groove Cruise&rsquo;s &ldquo;Inception at Sea.&rdquo; It was a lively time, with DJs performing day and night, a round-the-clock pool party, stiff drinks, women in bikinis, sunshine &mdash; the works. Shearer had made T-shirts that featured both the &ldquo;Inception at Sea&rdquo; logo and &ldquo;Do It For State.&rdquo; One night, the duo arranged to have the T-shirts thrown into the crowd from atop the stage. &ldquo;I was trying to prove myself to him, and that I was serious about investing in &lsquo;Do It For State,&rsquo;&rdquo; Shearer said.
      p#b5cb.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | The trip was a success and on July 1, 2016, the two entered into a formal agreement, with Shearer joining as a partner in State Snaps LLC. Adams would handle the social media content, and Shearer would put up almost $18,000 to fund a website. There was just one problem: DoItForState.com was still owned by Ethan Deyo.
      p#075d.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Adams and Shearer hatched a plan to persuade Deyo into selling the domain. Shearer would conceal his affiliation with State Snaps and approach Deyo as if he were just another customer. Shearer and Deyo exchanged cordial emails throughout 2016 and into 2017, but, with the State Snaps brand booming, Deyo did not want to sell the domain. &ldquo;Ethan was educated. He has his stuff together; he&rsquo;s a businessman,&rdquo; Shearer told me. &ldquo;He knew [the domain] was valuable.&rdquo;
      p#5796.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Shearer and Adams settled for developing the wonkier domain StateSnapsGlobal.com, which Adams had purchased in 2015. By May 2017, however, the website hadn&rsquo;t yet launched, and Shearer&rsquo;s investment was drying up. Adams, too, was still focused on DoItForState.com, the domain name he thought he needed to fulfill his business&rsquo;s potential. He decided to take matters into his own hands.
      p#ba2e.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Shearer remembers vividly the last time they spoke about the domain name. Shearer was at work, and Adams called him. It was short and sweet. Shearer recalled that Adams said, quite simply, &ldquo;Don&rsquo;t worry about it anymore.&rdquo;
  .em
    .n.p
      .jn.jo.jp.jq.jr.js.ag.jt.ah.ju.aj.ak
        figure.jh.ji.jj.jk.jl.em.jw.jx.paragraph-image
          .eo.ep.bs.eq.ak
            .dz.ea.jv
              .ev.r.bs.ew
                .jy.r
                  .br.er.cy.t.u.es.ak.bk.et.eu
                    img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*lHjlpTEqsJHwGuKJaYTUeQ.png?q=20' width='2400' height='80' role='presentation')
                  img.oh.qo.cy.t.u.es.ak.fb(width='2400' height='80' role='presentation' src='https://miro.medium.com/max/2400/1*lHjlpTEqsJHwGuKJaYTUeQ.png')
                  noscript
                    img.cy.t.u.es.ak(src='https://miro.medium.com/max/4800/1*lHjlpTEqsJHwGuKJaYTUeQ.png' width='2400' height='80' role='presentation')
  .n.p
    .ac.ae.af.ag.ah.fn.aj.ak
      p#db10.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in.io(data-selectable-paragraph='')
        span.r.ip.iy.is.bs.kp
          img.ja.jb.jc.jd.je.jf.cy.t.u.es.ak(alt='A' src='https://miro.medium.com/max/132/1*vAa5TGn1aFyKdzZUeCaIPw.png' width='66' height='79')
          span.r.ip.iq.ir.is.it.iu.iv.iw.ix.bs.br A
        | dams&rsquo; cousin Sherman Hopkins, who had done jail time for perjury and who struggled with homelessness and drug addiction, didn&rsquo;t normally show up to family gatherings. But in June 2017, Hopkins appeared at a get-together at Adams&rsquo; mother&rsquo;s home. That&rsquo;s where, according to Hopkins and other family members, he and Adams got to talking about State Snaps &mdash; a conversation that would lead them down a dangerous path.
      p#767b.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | &ldquo;Deyo robbed him for some, some sites, some view sites, and he wanted them back,&rdquo; Hopkins later testified. Hopkins was happy to help Adams &mdash; he was fond of his cousin, and now that State Snaps had flourished into a business worth potentially hundreds of thousands of dollars, it stands to reason he would have wanted to hitch his wagon to the enterprise.
      p#3825.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Over the course of several conversations, a plan emerged: Hopkins would break into Ethan Deyo&rsquo;s house and force him to transfer the domain to Adams. In the subsequent trial, Adams&rsquo; attorney would claim that Hopkins acted on his own, but Hopkins insisted Adams was in on it from the beginning. Hopkins never claimed that Adams promised him money, but his trial testimony suggests that an informal agreement was in place. &ldquo;I just said, &lsquo;Man, when you get right, just hit me when you get right,&rsquo;&rdquo; Hopkins said at trial. &ldquo;&lsquo;When you get the stuff together, just hit me when you get your stuff together.&rsquo;&rdquo;
      p#efbf.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Ethan still lived in the small, gray, two-story residence in Cedar Rapids that Adams had visited two years earlier. Hopkins would later testify that he and Adams scouted the home repeatedly, making sure there were no security cameras in the vicinity.
      p#4889.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | &ldquo;There wasn&rsquo;t really no neighbors out,&rdquo; Hopkins testified. &ldquo;There was only one woman next-door that got out a little bit&mldr; that&rsquo;s the only person I seen, so [we] decided to make it happen.&rdquo;
      p#bb60.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | As Hopkins later explained at trial, the plan hinged on Adams manning the getaway car while he did the deed. A few days before the break-in, Adams, Hopkins, and a friend of Hopkins &mdash; Dave &ldquo;Dirty Dave&rdquo; Davis &mdash; drove to a local Target where Davis, in exchange for a small cash fee, bought a couple of burner phones the two could use to communicate. Adams parked in a nearby lot to avoid security cameras while Davis went into Target, bought two phones with prepaid minutes, and returned to the car. Hopkins set up the phones using fake names. They were ready.
  .em
    .n.p
      .jn.jo.jp.jq.jr.js.ag.jt.ah.ju.aj.ak
        figure.jh.ji.jj.jk.jl.em.jw.jx.paragraph-image
          .eo.ep.bs.eq.ak
            .dz.ea.kq
              .ev.r.bs.ew
                .kr.r
                  .br.er.cy.t.u.es.ak.bk.et.eu
                    img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*JafdQfefGhTLgGvScdQ32Q.png?q=20' width='1785' height='1653' role='presentation')
                  img.oh.qo.cy.t.u.es.ak.fb(width='1785' height='1653' role='presentation' src='https://miro.medium.com/max/1785/1*JafdQfefGhTLgGvScdQ32Q.png')
                  noscript
                    img.cy.t.u.es.ak(src='https://miro.medium.com/max/3570/1*JafdQfefGhTLgGvScdQ32Q.png' width='1785' height='1653' role='presentation')
  .n.p
    .ac.ae.af.ag.ah.fn.aj.ak
      p#ba59.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | On June 21, a Wednesday, Adams picked up Hopkins at a local supermarket. It was just about noon on a mild summer day, but Hopkins had already taken down a tallboy and smoked some weed. They had their stuff packed: the pantyhose, the sunglasses, the cap. Hopkins brought his pistol, and, he claims, Adams gave him a taser. (At trial, Hopkins&rsquo; sister would testify that the taser belonged to Hopkins.) Deyo&rsquo;s house was only five minutes away from the store.
      p#1662.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | The two pulled up to Deyo&rsquo;s house and, with burner phones in hand, they split. Hopkins headed for the house, sneaking behind the garage, while Adams drove to a Walgreens parking lot two blocks away where, according to Hopkins, Adams would wait until the deal was done.
      p#ca98.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Hopkins peeked through a window of Deyo&rsquo;s house, saw Deyo on the first floor, and then proceeded to break in through the back door. By the time he got in, Deyo must have climbed to the second floor already, and what happened next was a blur: Deyo barricading himself in the upstairs bedroom, Hopkins running up the stairs after him, busting through the door, and leading him by gunpoint into the office.
      p#02cc.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | The piece of paper that Hopkins took out of his pocket and handed over to Deyo was, according to Hopkins, written by Adams. (Two forensics experts, one employed by the Cedar Rapids Police Department, would also claim Adams&rsquo; palmprint was on the paper.)
      p#a6a6.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | The note read: &ldquo;Go to GoDaddy.com. Sign in. Go to domains. Click/check transfer domain, DoItForState.com. Enter 96676333 RJ_Mr_Adams123@yahoo.com.&rdquo; It was Adams&rsquo; account number and one of his email addresses.
      figure.jh.ji.jj.jk.jl.em.dz.ea.paragraph-image
        .eo.ep.bs.eq.ak
          .dz.ea.jg
            .ev.r.bs.ew
              .ks.r
                .br.er.cy.t.u.es.ak.bk.et.eu
                  img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*SedmXPThophNfCbxDQJIjw.png?q=20' width='1200' height='403' role='presentation')
                img.oh.qo.cy.t.u.es.ak.fb(width='1200' height='403' role='presentation' src='https://miro.medium.com/max/1200/1*SedmXPThophNfCbxDQJIjw.png')
                noscript
                  img.cy.t.u.es.ak(src='https://miro.medium.com/max/2400/1*SedmXPThophNfCbxDQJIjw.png' width='1200' height='403' role='presentation')
      p#7776.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Deyo began the process of transferring the domain name to the account, but in order to fulfill the transfer, GoDaddy requires a physical address for the new owner. Deyo told Hopkins that he needed more information to complete the transfer.
      p#f6f6.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | &ldquo;You don&rsquo;t need no fucking address,&rdquo; Hopkins said, according to his plea agreement. Flustered and confused, Hopkins hit Deyo in the head with his 9 mm pistol, and tased him in the neck.
      p#101b.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Hopkins took out his burner phone and made a call, handing the phone over to Deyo.
      p#6df3.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | &ldquo;I need an address,&rdquo; Deyo recalled saying in his testimony at trial, and the voice on the other end of the line told him what to input. He recognized the voice &mdash; and suddenly everything made sense.
      p#7fcf.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='') &ldquo;Yeah, Rossi,&rdquo; Deyo replied, handing the phone back to Hopkins.
      p#47be.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | &ldquo;This better be right. You better do this right,&rdquo; Hopkins told him, according to the plea agreement. &ldquo;You know who you stole from. If you go to the police or tell anyone about this I&rsquo;ll be back for you.&rdquo; Hopkins cocked his pistol. &ldquo;If this isn&rsquo;t right I&rsquo;m going to blow your fucking head off!&rdquo;
      p#6d3b.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Deyo, however, knew something the duo did not: To prevent theft, GoDaddy requires additional confirmation at a later date by both parties engaging in a transfer, a process which can take up to a few business days to complete. Hopkins and Adams thought it&rsquo;d be an instant transaction &mdash; in fact, Hopkins testified at trial that Adams planned to monitor his account on his iPhone from his car, waiting for the transfer to go through before Hopkins would leave the house.
      p#2b40.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | As Deyo later testified, &ldquo;My thought is that, you know, they&rsquo;re not going to be happy until they see the domain in their account. And if it&rsquo;s a three-day period of that happening, you know, what are they going to do? Sit here for three days and hold me at gunpoint? So I decided to get out of it.&rdquo;
      p#d95a.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Deyo waited for the perfect moment to strike, and then he saw his opening. He grabbed the gun, thrusted Hopkins&rsquo; aim away from his head, and tried to wrestle the weapon from him. The two men struggled, crashing through a side table. At some point during the scuffle, the gun went off, the bullet striking Deyo&rsquo;s leg. Deyo grabbed the gun from Hopkins, pointed it at his chest, and fired three shots. Deyo then hustled into his bedroom to retrieve his brother&rsquo;s gun from the closet. He took both weapons downstairs, to make sure no one else had come with Hopkins, and ran back up to the office. He couldn&rsquo;t find his phone, so he used Hopkins&rsquo; burner to call 911.
  .em.ak
    figure.jh.ji.jj.jk.jl.em.ak.paragraph-image
      .ev.r.bs.ew
        .kt.r
          .br.er.cy.t.u.es.ak.bk.et.eu
            img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*xl9CtxeXBExyG2Y-5JlHpw.png?q=20' width='2000' height='1849' role='presentation')
          img.oh.qo.cy.t.u.es.ak.fb(width='2000' height='1849' role='presentation' src='https://miro.medium.com/max/2000/1*xl9CtxeXBExyG2Y-5JlHpw.png')
          noscript
            img.cy.t.u.es.ak(src='https://miro.medium.com/max/4000/1*xl9CtxeXBExyG2Y-5JlHpw.png' width='2000' height='1849' role='presentation')
  .n.p
    .ac.ae.af.ag.ah.fn.aj.ak
      p#ba5e.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | &ldquo;I just had a black man break into my house with a gun,&rdquo; Deyo told the dispatcher. &ldquo;He hit me over the head with it. I got the gun from him; I shot him a couple of times.&rdquo;
      p#9bad.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | As Deyo gave the dispatcher his address, Hopkins lay on the ground moaning in pain.
      p#21c7.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='') &ldquo;Shut the fuck up!&rdquo; Deyo yelled at Hopkins.
      p#d9c1.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Police and paramedics were dispatched to the house, and both Deyo and Hopkins were taken to the hospital. Deyo&rsquo;s injuries were minor, but a bullet had struck Hopkins in the spine, causing permanent nerve damage. He was in the hospital for a month, and almost died. From there, he was transferred to the Linn County Correctional Center and charged with first-degree burglary, first-degree robbery, and first-degree kidnapping.
      figure.jh.ji.jj.jk.jl.em.fb.kb.ho.kc.ip.kd.ke.kf.cc.cs.kg.kh.ki.kj.bg.paragraph-image
        .eo.ep.bs.eq.ak
          .dz.ea.jg
            .ev.r.bs.ew
              .ks.r
                .br.er.cy.t.u.es.ak.bk.et.eu
                  img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*IRalepnYc61S4hlKUcTrUg.png?q=20' width='1200' height='403' role='presentation')
                img.oh.qo.cy.t.u.es.ak.fb(width='1200' height='403' role='presentation' src='https://miro.medium.com/max/1200/1*IRalepnYc61S4hlKUcTrUg.png')
                noscript
                  img.cy.t.u.es.ak(src='https://miro.medium.com/max/2400/1*IRalepnYc61S4hlKUcTrUg.png' width='1200' height='403' role='presentation')
      p#89c0.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | It&rsquo;s unclear what Adams did during the minutes and hours that followed. Did he hear the cop cars, sirens whirring, zooming at full speed to Deyo&rsquo;s home? At what point did he know his cousin wasn&rsquo;t going to call him back &mdash; that his plan had gone awry? At some point, Adams must have rolled out of the parking lot, knowing that something had gone seriously wrong.
      p#2804.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Adams&rsquo; mother chalked up Hopkins&rsquo; arrest to &ldquo;Sherman being Sherman.&rdquo; She had no reason to believe Adams was involved.
      p#3588.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Phone records show that Adams called GoDaddy three times the day after the botched heist. He asked if DoItForState.com had been transferred into his account. It had not, the customer service representative told him.
      p#188d.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='') To complete the transfer, he would need to follow up with one Ethan Deyo.
  .em
    .n.p
      .jn.jo.jp.jq.jr.js.ag.jt.ah.ju.aj.ak
        figure.jh.ji.jj.jk.jl.em.jw.jx.paragraph-image
          .eo.ep.bs.eq.ak
            .dz.ea.jv
              .ev.r.bs.ew
                .jy.r
                  .br.er.cy.t.u.es.ak.bk.et.eu
                    img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*lHjlpTEqsJHwGuKJaYTUeQ.png?q=20' width='2400' height='80' role='presentation')
                  img.oh.qo.cy.t.u.es.ak.fb(width='2400' height='80' role='presentation' src='https://miro.medium.com/max/2400/1*lHjlpTEqsJHwGuKJaYTUeQ.png')
                  noscript
                    img.cy.t.u.es.ak(src='https://miro.medium.com/max/4800/1*lHjlpTEqsJHwGuKJaYTUeQ.png' width='2400' height='80' role='presentation')
  .n.p
    .ac.ae.af.ag.ah.fn.aj.ak
      p#020e.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in.io(data-selectable-paragraph='')
        span.r.ip.iy.is.bs.ku
          img.ja.jb.jc.jd.je.jf.cy.t.u.es.ak(alt='On' src='https://miro.medium.com/max/276/1*heKPRsXbhi7eFb3LiU4bbg.png' width='138' height='79')
          span.r.ip.iq.ir.is.it.iu.iv.iw.ix.bs.br On
        |  June 27, less than a week after the shooting, according to court records, Brandon Miller sent Adams a text message.
      p#7f5a.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | &ldquo;We need to team up end this beef stuff bro,&rdquo; Miller wrote. &ldquo;There&rsquo;s so much we could do together. You need to consider. We can create our own spring break location and make bread for life just off that. Then do events nationwide year round and merch. We need to work together my dude I&rsquo;m telling you now!&rdquo;
      p#e673.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | &ldquo;Well look dude you know what has to happen if you want a piece of the pie,&rdquo; Adams responded. &ldquo;Otherwise I&rsquo;ll just keep it pushing. Having a little of something big is way better than having a lot of nothing.&rdquo;
      p#d497.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | &ldquo;I mean I&rsquo;ll do my own thing and be just fine. I obviously am organized and got shit poppin,&rdquo; Miller said. &ldquo;Was trying to include you to be even bigger but I&rsquo;ve been doing great lately.&rdquo;
      p#c678.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | &ldquo;Good for u man,&rdquo; Adams said. &ldquo;Wish u the best. But ya you know how to get me included.&rdquo;
      p#a460.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | What seemed like a sly attempt at going behind the back of the Deyo brothers was, in reality, an attempt by Miller to try and get Adams to admit to the crime. &ldquo;[I wanted] to see what was going to be said, so I know that if my buddy got shot, and I could get him to maybe say something about doing that, then it could hold up in court,&rdquo; Miller later testified. &ldquo;That&rsquo;s kind of what I was doing, is just to see, like, what I could get him to admit basically.&rdquo;
      p#cac3.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Meanwhile, the Cedar Rapids Police Department (CRPD), which declined to comment for this story, was investigating the case. In July, officers brought Adams into the station for questioning. The police station is next-door to the city&rsquo;s amphitheater, and in a video clip of the interview submitted during the subsequent trial, you can faintly hear the alt-rock band Lifehouse doing their sound check. Adams, clad in a gray T-shirt and black-rimmed glasses, sat for an hour across from two veteran CRPD detectives, Martin Devore and George Aboud. His arms were folded pensively on the table in front of him.
      p#3f03.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | During the interview, Adams admitted to wanting the domain name &ldquo;at one point&rdquo; and to driving Hopkins and &ldquo;Dirty Dave&rdquo; Davis to Target and deciding not to park in the store&rsquo;s parking lot. But he denied knowing Davis was buying burner phones. When asked for his email address, Adams wrote the address on the piece of paper at the crime scene &mdash; RJ_Mr_Adams123@yahoo.com &mdash; but conveniently omitted the &ldquo;123.&rdquo; It was all suspicious, but no charges were pressed, and Adams was released.
      p#6ef5.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | For the rest of 2017, and into 2018, Adams went about his business as if nothing had happened. State Snaps was continuing to grow, its follower count now firmly in the millions. Adams was posting new content daily, trying to keep his brand on the rise.
      p#ed90.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | By this time, Adams had been contacted by Taylor Jonathan, the owner of Soar Social, a social media management, targeted marketing, and content creation company based out of Myrtle Beach, South Carolina. (A successful enterprise, Soar Social had even been hired by Corey Lewandowski, President Donald Trump&rsquo;s former campaign manager, to promote a stop on his book tour.)
      p#8b6c.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Like Matt Shearer before him, Jonathan saw massive potential in Adams&rsquo; brand, and wanted to partner up to throw parties presented by, and advertised through, State Snaps. His pitch to Adams was simple: &ldquo;You are showing a party to a party crowd,&rdquo; Jonathan told me. &ldquo;Why not give them a party to attend?&rdquo;
      p#f181.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Starting in September 2017 &mdash; with Hopkins in jail, Adams not yet charged, and Deyo recovering from his injuries &mdash; Jonathan began organizing and hosting massive State Snaps events through his event coordination company Party Monster in New York, Raleigh, and Charleston. Adams and Jonathan had a handshake agreement to split profits, though Jonathan declined to disclose how much money those events generated.
      p#45fe.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | In March 2018, the two traveled to Rosarito, Mexico, for a party. Videos of the event posted to the
        a.bv.fi.fj.fk.fl.fm(href='https://www.instagram.com/partymonsteraf/?hl=en' target='_blank' rel='noopener nofollow') Party Monster
        |  Instagram account depict a raucous scene: hundreds of young people dancing wildly, music blasting and lights ablaze, with women in bikinis shaking their butts onstage while Jonathan hypes the crowd in a State Snaps jersey. Adams, Jonathan said, largely played it cool, and never got in the middle of the action. &ldquo;He never acted stupid or out of line,&rdquo; Jonathan told me. &ldquo;His mind was always on the social presence of the brand.&rdquo;
      figure.jh.ji.jj.jk.jl.em.fb.kb.ho.kc.ip.kd.ke.kf.cc.cs.kg.kh.ki.kj.bg.paragraph-image
        .eo.ep.bs.eq.ak
          .dz.ea.kv
            .ev.r.bs.ew
              .kw.r
                .br.er.cy.t.u.es.ak.bk.et.eu
                  img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*Md3SWQplweUEj0zMRmtA3w.png?q=20' width='1500' height='1134' role='presentation')
                img.oh.qo.cy.t.u.es.ak.fb(width='1500' height='1134' role='presentation' src='https://miro.medium.com/max/1500/1*Md3SWQplweUEj0zMRmtA3w.png')
                noscript
                  img.cy.t.u.es.ak(src='https://miro.medium.com/max/3000/1*Md3SWQplweUEj0zMRmtA3w.png' width='1500' height='1134' role='presentation')
      p#ac9e.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | The events solidified State Snaps as a real-life experience. &ldquo;We translated a slogan, a mindset, into a real-life trend,&rdquo; Jonathan said. &ldquo;At one event in Canada, I doused a girl in maple syrup, and she got &lsquo;Do It For State&rsquo; tattooed on her butt cheek the next day. You can&rsquo;t do that by just posting stuff online.&rdquo;
      p#81ed.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Though Jonathan saw no promise in routing a business through a website in 2019, Adams had purchased DoIt4State.com, with the numeral 4, instead of &ldquo;for,&rdquo; as a landing page for all of their events. They used the site to sell merchandise, which grew from simple jerseys and T-shirts to hats, sweatshirts, tank tops, and even women&rsquo;s thongs. The Instagram account broke 1.5 million followers, and the team, according to financial records submitted into evidence at the trial, raked in over $100,000 during the last three months of 2018 alone.
      p#8237.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Adams was living the State Snaps fever dream: minimal responsibilities, minimal consequences, 100% indulgence. He had succeeded beyond his expectations. &ldquo;Money really make me feel like I can be somebody,&rdquo; he had once posted on Twitter. And now he really was somebody. Ironically enough, it didn&rsquo;t seem like Adams needed the Deyos&rsquo; domain name after all.
      p#50a5.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | But far from the glitz and festivities of State Snaps, the gears of the legal system ground on: Hopkins was talking. He pled guilty to his charges and, after being sentenced to 20 years in prison in June 2018, agreed to give up his cousin in exchange for a reduced sentence. He laid out the scheme in full and agreed to testify at trial.
      p#266c.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | That September, Adams was driving to his younger brother&rsquo;s football game at a local stadium when he was pulled over by the CRPD. He was arrested for his role in the extortion of Ethan Deyo. He called his mother from the police station.
      p#5215.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | He was the same loving and caring son she had known him to be his whole life. &ldquo;Just be calm. They are just doing their job. I haven&rsquo;t done anything wrong,&rdquo; Gladys recalled her son telling her. She was racing to the police station, but he told her to go back to the field. &ldquo;You need to watch his game,&rdquo; he said. &ldquo;This is his moment.&rdquo; He was released from custody shortly thereafter and a trial date was set for April 15, 2019.
  .em.ak
    figure.jh.ji.jj.jk.jl.em.ak.paragraph-image
      .ev.r.bs.ew
        .kx.r
          .br.er.cy.t.u.es.ak.bk.et.eu
            img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*ZKY67c-dB9JDJx6x7X7gmg.png?q=20' width='2000' height='1128' role='presentation')
          img.oh.qo.cy.t.u.es.ak.fb(width='2000' height='1128' role='presentation' src='https://miro.medium.com/max/2000/1*ZKY67c-dB9JDJx6x7X7gmg.png')
          noscript
            img.cy.t.u.es.ak(src='https://miro.medium.com/max/4000/1*ZKY67c-dB9JDJx6x7X7gmg.png' width='2000' height='1128' role='presentation')
  .n.p
    .ac.ae.af.ag.ah.fn.aj.ak
      p#d783.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Over the next few months, Adams prepared for trial while attempting to keep his business afloat. He brought on a friend, Herschel Dixon Jr., to help post content and run the business, in case he were to be convicted. According to Jonathan, Adams didn&rsquo;t talk about his upcoming trial, and kept his focus on State Snaps. &ldquo;He was in disbelief that his cousin would try and wrap him up in this,&rdquo; Gladys told me, adamant that her son is innocent. &ldquo;I was a nervous wreck.&rdquo;
      p#0da5.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | At the trial, Adams&rsquo; defense attorney tried to prove that Hopkins acted on his own accord. But the prosecution&rsquo;s evidence swayed the jury and Adams was found guilty of conspiracy to interfere with commerce by force, threats, and violence. On December 9, he was sentenced to 14 years in federal prison, and ordered to pay $7,509.32 in restitution (and an additional $1,477.60 to Ethan Deyo).
      p#024f.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Adams hired a new defense attorney, Ray Scheetz, who plans to appeal the conviction on the grounds that the prosecution struck the only potential black juror during jury selection. (Adams&rsquo; trial attorney raised the same issue earlier, but was overruled by the judge). &ldquo;The prosecutor&rsquo;s actions are a real injustice and perpetuate the unfair treatment of African Americans, both criminal defendants and potential jurors, that occurs in courtrooms in Iowa,&rdquo; Scheetz said in a written statement.
      p#ec29.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Adams had built a flourishing, successful business off of people participating in wild, inadvisable behavior under the banner of &ldquo;Do It For State.&rdquo; In a way, the mugging of Ethan Deyo was the epitome of that brand: Adams and his cousin had gone out on an extreme, violent ledge &mdash; and they had done it all for State.
      p#7dcb.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='')
        | Under the ownership of the Deyos, DoItForState.com never amounted to much. Since 2018, the URL that sparked such intense conflict has directed readers to a blank page. Meanwhile, the long-standing State Snaps Instagram account was briefly shut down &mdash;
        a.bv.fi.fj.fk.fl.fm(href='https://www.instagram.com/doitt4state/' target='_blank' rel='noopener nofollow') and resurrected
        |  almost immediately.
      p#0299.ia.ib.fq.ay.ic.b.id.ie.if.ig.ih.ii.ij.ik.il.im.in(data-selectable-paragraph='') It&rsquo;s about to break a million followers.
  .em
    .n.p
      .jn.jo.jp.jq.jr.js.ag.jt.ah.ju.aj.ak
        figure.jh.ji.jj.jk.jl.em.jw.jx.paragraph-image
          .eo.ep.bs.eq.ak
            .dz.ea.jv
              .ev.r.bs.ew
                .jy.r
                  .br.er.cy.t.u.es.ak.bk.et.eu
                    img.cy.t.u.es.ak.ey.ez.qu.qv(src='https://miro.medium.com/max/60/1*lHjlpTEqsJHwGuKJaYTUeQ.png?q=20' width='2400' height='80' role='presentation')
                  img.oh.qo.cy.t.u.es.ak.fb(width='2400' height='80' role='presentation' src='https://miro.medium.com/max/2400/1*lHjlpTEqsJHwGuKJaYTUeQ.png')
                  noscript
                    img.cy.t.u.es.ak(src='https://miro.medium.com/max/4800/1*lHjlpTEqsJHwGuKJaYTUeQ.png' width='2400' height='80' role='presentation')
