section
  div
    h1 Heading
  div
    p
      | Paragraph: Sentence.
      a Link
      | end.
    figure
      img(src='https://somewhere.com/pic.jpg')
      figcaption Caption?
    .aside
      a This should be ignored
  div
    h2 Subheading!
    blockquote Quote.
